/.claude/settings.local.json
/Ülesanne-3 Tsüklid ja funktsioonid/~$esanne-3 Tsüklid ja funktsioonid Dokumentatsioon.docx
/Ülesanne-2 Tekstide ja piltide kasutamine/~$emüüja_dokumentatsioon.docx
/Ülesanne-3 Tsüklid ja funktsioonid/~WRL1968.tmp
/Ülesanne-4 Objektide animeerimine/~WRL0005.tmp
